@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Gugi&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Gugi&family=Protest+Riot&display=swap');

*{
font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;

}
*{
    margin: 0;
    padding: auto;
}
.nav{
    position: fixed;
}


.navmader{
    margin: auto;
    padding: 0;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: none;

}
.cardcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: auto;
    padding: 0;
}

.estudio{
    display: flex;
    flex-direction:column ;
    justify-content:start;
    justify-items:start; 
     width: 560px;
     height: 130px;

}
.estudioHi{
    display: flex;
    flex-direction:row ;
    justify-content:start;
    justify-items:start;
}

.card-title{
    font-size: 30px;
}

.habilidades{
    height: 130px;
    margin-top: 35px;
}


.habil{
    margin-right: 15px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 560px;
    
}

.footertitle{
    font-size: 30px;
    width: 100%;
}

.copy:hover{
    background: rgb(3, 172, 238);
}